* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #606c71;
}

header {
  display: block;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: normal;
  color: #159957;
}

a {
  color: #007acc;
  text-decoration: none;
  background-color: transparent;
}

img {
  border: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}
