<header>
  <h1>{{ site.title }}</h1>
  <h2>{{ site.tagline }}</h2>
  <div>
    <input autofocus readonly type="text" value="{{ site.cmd_npm }} {{ site.cmd_sample_1 }}" id="cli"/>
    <noscript>
      <input autofocus readonly type="text" value="{{ site.cmd_npm }} {{ site.cmd_sample_1 }}"/>
      <style>#cli {display: none}</style>
    </noscript>
    <button title="Copy input" id="clipboard">
      <img alt="Copy" src="images/icon-clipboard.svg"/>
    </button>
  </div>
  <a title="Documentation" href="https://docs.ult.dev" target="_blank">
    <img alt="Documentation" src="images/icon-docs.svg"/>
  </a>
  <a title="Source" href="{{ site.github.repository_url }}" target="_blank">
    <img alt="Source" src="images/icon-github.svg"/>
  </a>
  <a title="Roadmap" href="https://github.com/orgs/kat-tax/projects/4" target="_blank">
    <img alt="Roadmap" src="images/icon-roadmap.svg"/>
  </a>
  <a title="Sandbox" href="https://codesandbox.io/s/ult-geefl9?file=/src/index.tsx" target="_blank">
    <img alt="Sandbox" src="images/icon-sandbox.svg"/>
  </a>
  <a title="Discord" href="https://discord.gg/TzhDRyj" target="_blank">
    <img alt="Discord" src="images/icon-discord.svg"/>
  </a>
  <a title="Twitter" href="https://twitter.com/TheUltDev" target="_blank">
    <img alt="Twitter" src="images/icon-twitter.svg"/>
  </a>
  <script>
    window.updateHeader = function() {
      var cli = document.getElementById('cli');
      var typeit = document.getElementById('typeit');
      var clipboard = document.getElementById('clipboard');
      var interval = parseInt('{{ site.cmd_delay }}', 10);
      var sample1 = '{{ site.cmd_sample_1 }}';
      var sample2 = '{{ site.cmd_sample_2 }}';
      var sample3 = '{{ site.cmd_sample_3 }}';   
      var command = window.pkgManager === 'yarn'
        ? '{{ site.cmd_yarn }}'
        : '{{ site.cmd_npm }}';

      cli.value = command + sample1;
      cli.onfocus = select;
      typeit.onload = type;
      typeit.onerror = fallback;
      clipboard.onclick = copy;
    
      function type() {
        try {
          new TypeIt(cli, {speed: 30}).exec(select).pause(interval).delete(sample1.length)
            .type(sample2).exec(select).pause(interval).delete(sample2.length)
            .type(sample3).exec(select).pause(interval).delete(sample3.length)
            .type(sample1).exec(select)
            .go();
        } catch (e) {
          fallback();
        }
      }

      function fallback() {
        select();
        setTimeout(function() {
          cli.value = command + sample2;
          select();
          setTimeout(function() {
            cli.value = command + sample3;
            select();
            setTimeout(function() {
              cli.value = command + sample1;
              select();
            }, interval);
          }, interval);
        }, interval);
      }

      function select() {
        setTimeout(function() {
          cli.setSelectionRange(0, command.length);
        }, 10);
      }

      function copy() {
        var success = function() { alert('Copied command to clipboard!'); };
        var failure = function() { prompt('Copy and run this command in the terminal:', command); };
        try {
          navigator.clipboard.writeText(command);
          setTimeout(success, 50);
        } catch (e) {
          try {
            select();
            document.execCommand('Copy');
            setTimeout(success, 50);
          } catch(e) {
            failure();
          }
        }
      }
    }

    updateHeader(true);
  </script>
</header>
