<header>
  <h1>{{ site.title }}</h1>
  <h2>{{ site.tagline }}</h2>
  <div>
    <input
      readonly
      autofocus
      id="input"
      type="text"
      title="Command line input"
      value="{{ site.cmd_npm }} {{ site.cmd_sample_1 }}"
    />
    <button title="Copy input" id="clipboard">
      <img alt="Copy" src="images/icon-clipboard.svg"/>
    </button>
  </div>
  <a title="Run ULT" href="https://run.ult.dev" target="_blank">
    <img alt="Run ULT" src="images/icon-play.svg"/>
  </a>
  <a title="Source Code" href="{{ site.github.repository_url }}" target="_blank">
    <img alt="Source Code" src="images/icon-git.svg"/>
  </a>
  <a title="Documentation" href="https://docs.ult.dev" target="_blank">
    <img alt="Documentation" src="images/icon-note.svg"/>
  </a>
  <a title="Roadmap" href="https://github.com/orgs/kat-tax/projects/4" target="_blank">
    <img alt="Roadmap" src="images/icon-sign.svg"/>
  </a>
  <a title="Discord" href="https://discord.gg/TzhDRyj" target="_blank">
    <img alt="Discord" src="images/icon-chat.svg"/>
  </a>
  <a title="TheUltDev" href="https://the.ult.dev" target="_blank">
    <img alt="TheUltDev" src="images/icon-face.svg"/>
  </a>
  <script>
    var input = document.getElementById('input');
    var typeit = document.getElementById('typeit');
    var clipboard = document.getElementById('clipboard');
    var interval = parseInt('{{ site.cmd_delay }}', 10);
    var sample1 = '{{ site.cmd_sample_1 }}';
    var sample2 = '{{ site.cmd_sample_2 }}';
    var sample3 = '{{ site.cmd_sample_3 }}';   
    var command = window.packageManager === 'yarn'
      ? '{{ site.cmd_yarn }}'
      : '{{ site.cmd_npm }}';

    input.value = command + sample1;
    input.onfocus = select;
    typeit.onload = type;
    typeit.onerror = fallback;
    clipboard.onclick = copy;
  
    function type() {
      try {
        new TypeIt(input, {speed: 30}).exec(select).pause(interval).delete(sample1.length)
          .type(sample2).exec(select).pause(interval).delete(sample2.length)
          .type(sample3).exec(select).pause(interval).delete(sample3.length)
          .type(sample1).exec(select)
          .go();
      } catch (e) {
        fallback();
      }
    }

    function fallback() {
      select();
      setTimeout(function() {
        input.value = command + sample2;
        select();
        setTimeout(function() {
          input.value = command + sample3;
          select();
          setTimeout(function() {
            input.value = command + sample1;
            select();
          }, interval);
        }, interval);
      }, interval);
    }

    function select() {
      setTimeout(function() {
        input.setSelectionRange(0, command.length);
      }, 10);
    }

    function copy() {
      var success = function() { alert('Copied command to clipboard!'); };
      var failure = function() { prompt('Copy and run this command in the terminal:', command); };
      try {
        navigator.clipboard.writeText(command);
        setTimeout(success, 50);
      } catch (e) {
        try {
          select();
          document.execCommand('Copy');
          setTimeout(success, 50);
        } catch(e) {
          failure();
        }
      }
    }
  </script>
</header>
