<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{%- include head.html -%}
<body>
<script>
  window.packageManager;
  try {
    window.packageManager = localStorage.getItem('package_manager');
  } catch(e) {
    window.packageManager = 'npm';
  }
</script>
{%- include header.html -%}
<main>
{{ content }}
</main>
<aside>
  <button id="npm">
    <img alt="NPM" src="images/icon-npm.svg"/>
  </button>
  <button id="pnpm">
    <img alt="PNPM" src="images/icon-pnpm.svg"/>
  </button>
  <button id="yarn">
    <img alt="Yarn" src="images/icon-yarn.svg"/>
  </button>
</aside>
<script>
  document.body.className = window.packageManager;
  document.getElementById('npm').onclick = setPackageManager('npm');
  document.getElementById('yarn').onclick = setPackageManager('yarn');
  document.getElementById('pnpm').onclick = setPackageManager('pnpm');
  document.querySelectorAll('main *').forEach(function(node) {
    if (window.packageManager === 'yarn') {
      node.innerHTML = node.innerHTML
        .replace(/({{ site.cmd_npm }}|{{ site.cmd_pnpm }})/g, '{{ site.cmd_yarn }}')
        .replace(/(npm run|pnpm run)/g, 'yarn');
    } else if (window.packageManager === 'pnpm') {
      node.innerHTML = node.innerHTML
        .replace(/({{ site.cmd_npm }}|{{ site.cmd_yarn }})/g, '{{ site.cmd_pnpm }}')
        .replace(/(npm run|yarn)/g, 'pnpm run');
    } else {
      node.innerHTML = node.innerHTML
        .replace(/({{ site.cmd_pnpm }}|{{ site.cmd_yarn }})/g, '{{ site.cmd_npm }}')
        .replace(/(pnpm run|yarn)/g, 'npm run');
    }
  });

  function setPackageManager(name) {
    return function() {
      try {
        localStorage.setItem('package_manager', name);
        location.reload();
      } catch(e) {}
    }
  }
</script>
</body>
</html>
